.venv/
.dev/
.claude/
AGENTS.md
CLAUDE.md
setting.json
.playwright/
.playwright-cli/
*.yaml

__pycache__/
.agent_states/
*.py[cod]
*$py.class
node_modules/

.temp/

packages/backend/data/*
logs/
.test/
tests/
dist/
*.tsbuildinfo

platforms/android/android/app/build/
platforms/android/android/app/libs/cdvnodejsmobile/libnode/
platforms/android/android/.gradle/
platforms/android/android/app/src/main/assets/
platforms/android/android/app/src/main/gen/
platforms/android/android/app/src/androidTest/
platforms/android/android/app/src/test/
platforms/android/android/.idea/
platforms/android/android/captures/
platforms/android/android/local.properties
platforms/android/android/*.iml
platforms/android/android/app/*.iml
platforms/android/android/app/src/main/res/
platforms/android/android/gradle/
platforms/android/android/gradlew
platforms/android/android/gradlew.bat
platforms/android/app/
platforms/android/capacitor.config.ts
platforms/android/package.json
platforms/android/scripts/

dev-tools/